@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@500&display=swap');
#logo-ctr {
  display:flex;
  justify-content: center;
}
#logo {
  height:100px;
  position: absolute;
}
body {
  margin:0;
    background:url(./game/assets/bg.png);
    animation: marquee 35s infinite linear;
    background-repeat: repeat;
    background-size:40px;
}
#menu {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}
#btn1, #btn2 {
  border:none;
  height:50px;
  width:150px;
  font-size:25px;
  padding:10px;
}
@keyframes marquee {
    0% {
      background-position: 0;
    }
    100% {
      background-position: -1190px;
    }
  }
